{{#if sintetico}}
<form
  method="POST"
  action="/upload/pdf?sintetico=sim"
  enctype="multipart/form-data"
>
  {{else}}
  <form method="POST" action="/upload/pdf" enctype="multipart/form-data">
    {{/if}}
    <div class="mb-3">
      <label for="formFileMultiple" class="form-label"
        >Anexar relatório de contribuições do INSS (*.pdf)</label
      >
      <input
        class="form-control"
        type="file"
        id="formFileMultiple"
        name="pdf"
        multiple
      />
    </div>
    <button type="submit" class="btn btn-primary">Calcular</button>
  </form>
</form>
