<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="assets/images/icone-24.png" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <title>Kontabb | Intranet</title>
  </head>
  <body>
    <div class="container">
      <h5>Relatório de Contribuições do INSS</h5>
      <br />

      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Competência</th>
            <th scope="col">Remuneração</th>
            <th scope="col">Valor Teto</th>
            <th scope="col">Remuneração acima do Teto</th>
            <th scope="col">A restituir</th>
          </tr>
        </thead>
        <tbody>
          {{#each contribuicoesAcimadoTeto}}
          <tr style="background-color: rgba(78, 78, 75, 0.377)">
            <th scope="row">{{competencia}}</th>
            <td>{{total}}</td>
            <td>{{teto_inss}}</td>
            <td>{{remuneracao_acima_teto}}</td>
            <td>{{valor_a_restituir}}</td>
          </tr>
          {{#each detalhes as |detalhe|}}
          <tr>
            <td colspan="6">
              <h6>{{detalhe.cnpj}} - {{detalhe.razao_social}}</h6>
              Tipo Filiado no vínculo: {{detalhe.tipo_filiado}} |
              <span>
                Remuneração R$ {{detalhe.remuneracao}} | Alíquota
                {{detalhe.aliq}}% | Valor Contribuição: R$
                {{detalhe.valor_contribuicao}}
              </span>
            </td>
          </tr>
          {{/each}} {{/each}}
        </tbody>
      </table>
      <strong>Saldo total a restituir </strong>
      <span>R$ {{saldo_a_restituir}}</span>
      <br />
      <strong>Total de períodos apurados:</strong>
      <span> {{contribuicoesAcimadoTeto.length}}</span>
    </div>
  </body>
</html>
