* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ecf0f1;
  font-family: sans-serif;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  padding: 16px;
  max-width: 960px;
  margin: 20px auto;

  background-color: white;
  border-radius: 8px;
}

.table {
  display: flex;
}

.flex-1 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  border: solid 1px;
  padding: 2px;
  background-color: rgba(204, 204, 204, 0.397);
}
.flex-1:nth-child(1) {
  border-left: solid 2px;
  justify-content: center;
}
.flex-center {
  justify-content: center;
}

.flex-1:last-of-type {
  border-right: solid 2px;
}

.flex-1__title {
  font-weight: bold;
}

.table__row {
  display: flex;
  flex-direction: column;
}

.table__row div {
  display: flex;

  border-bottom: 1px solid;
  background-color: #fff;
}
